

*{
	margin:0;
	padding: 0;
  box-sizing: border-box;
  font-family: 'Shadows Into Light Two', cursive;
}

.flex-container{
	display: flex;
  justify-content:space-between;
  align-items: center;
  text-align: center;
  margin: 1.5em auto;
  padding: 0 1.7em 0 1.2em;
  width: 95%;
  height: 1em;
}
li{
  display: inline-block;
  padding-left: 1em;
}
ul{
  list-style: none;
}
a {
  text-decoration: none;
  color: #8E8E8E; 
}
.bold{
  font-weight: bold;
  color:#8E8E8E;
}
.logo{
  height: 5.5em;
  padding-left: 0;
}
.cover{
  background-image: url("../assets/img/cover.jpg");
  background-size: cover;
  height: 53vh;
  background-position: 50% 45%;
}
.button{
  background-color: #000;
  border-radius: .5em;
  padding: 0.5em;
  color:#fff;
}
.content{
  background-color: #E3E3E3;
}
footer{
  background: #000;
  padding: .5em;
}
.responsive-img{
  display: block;
  max-width: 100%;
  height: auto;
}
.hidden-xs {
  display: none;
}


 /* Tablet Grid */
@media (min-width: 768px) {
  .visible-sm {
  display: block;
  }
  .hidden-sm{
  display: none;
  }
  .columna-sm-6 {
  width: 49%;
  }
  .columna-sm-6:nth-child(2n) {
  margin-right: 0;
  }

}

/* Desktop Grid */
@media (min-width: 992px) {
  .columna-3 {
  width: 23.5%;
  }
  .columna-3:nth-child(4n) {
  margin-right: 0;
  }
  .columna-9 {
  width: 74.5%;
  }
  .right-sidebar aside {
  margin-right: 0;
  }
  .columna-sm-4 {
  width: 32%;
  }
  .columna-sm-4:nth-child(3n) {
    margin-right: 0;
  }
}