* {
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
    margin: 0;
  }

.container {
    margin: 0 auto;
    max-width:100%;
    position: relative;
}
 a , button, span{
    vertical-align: middle;
    text-align: center; 
 }          

 img[alt="logo"]{
    width: 150px;
    display: inline-block;
    margin-left: 10px;
}
nav{
    background-color: #fff;
    /* height: 100px; */
}
button{
    /* display: inline-block; */
    background: none;
    border: none;
    position: absolute;
    right: 0;
    top: 30px;
}
ul{
    display: none;
}

.big-image {
    background-image: url("../assets/images/00.jpg");
    min-height: 380px;
    width: 100%;
    background-size: cover;
    background-position: 50% 45%;
} 

.large-container {
    overflow: auto;
    margin-top: 10px;
    /* outline: 1px solid red; */
}
.small-container{
    padding-bottom: 28px;
    overflow: hidden;
}
.area{
    margin: 0 1rem;
}
.column-main{
    padding-top: 25px;
}
.column-aside{
    padding-top: 25px;    
}

 .info{
    height: 150px;
    width: 750px;
    outline: 1px solid green;
    display: inline-block;
}   

.pic {
    float: left;
    max-height:100%;
    margin: 0 10px;
} 
footer{
    padding: 20px;
    text-align: center;
    color: #fff;
    background-color: #000;
    outline: 1px solid green;
    width: 100%;
}
.gutter{
    margin-left: 3%;
}

@media (min-width: 768px){
    .column-main {
        width: 58.333333333333336%;
        float: left;
    }
    
    .three-columns{
        width: 31.3333333%;
        float: left;
    }
    .large-container{
        margin-bottom: 5px;
    }
    .container ul{
        list-style: none;
        display: inline-block;
        /* outline: 1px solid red; */
        padding-left: 0;
        position: absolute;
        right: 0;
        top: 30px;
    }
    .container li{
        /* outline: 1px solid blue; */
        display: inline-block;
        margin-right: 20px;    
    }
}  
